* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#moviecontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap: 10px; */
}

.moviecontainer--movie {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.moviecontainer--movie_img {
    width: 300px;
}

.moviecontainer--movie_info-rating {
    display: flex;
    align-items: center;
}

.moviecontainer--movie_info-rating_star {
    width: 30px;
}